@import "../../styles/config.scss";
.forumItem {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 26px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  color: black;

  &:hover {
    box-shadow: 0px 6px 12px rgba($color-blue, 0.6);
  }

  &:visited {
    color: black;
  }

  &:hover .hover {
    height: 7px;
  }
  &:hover .forumDesc h2 {
    color: $color-blue;
  }

  & .forumDesc {
    width: 50%;
    display: flex;
    text-decoration: none;
    &:visited,
    &:active,
    &:link {
      color: black;
    }

    & h2 {
      padding: 2rem;
      font-size: 2rem;
    }
    & p {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
  & .forumInfo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    &:visited,
    &:active,
    &:link {
      color: black;
    }
  }
}

.hover {
  position: absolute;
  bottom: 0;
  height: 0px;
  width: 100%;
  background-color: $color-blue;
  transition: 0.2s;
}
.vertiaclLine {
  position: absolute;
  height: 80%;
  width: 1px;
  background-color: grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editForum {
  display: flex;
  padding: 1rem 3rem;
  font-size: 2rem;
  justify-content: space-around;

  & .editIcon,
  .deleteIcon {
    transition: 0.2s;
  }
  & .editIcon:hover {
    color: $color-blue;
    cursor: pointer;
  }
  & .deleteIcon:hover {
    color: red;
    cursor: pointer;
  }
}

