@import "../../../styles/config.scss";

.icons {
  font-size: 3rem;
  flex-basis: 15%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 0 2rem;

  & > * {
    padding: 0.5rem;
  }

  & .messageIcon,
  .notificationIcon {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: $color-blue;
    }
  }

  @include respond(tab-small) {
    justify-content: space-between;
    margin: 0 1rem;
  }
}
.button {
  flex-basis: 15%;
  margin: 0 2rem;
  display: flex;
  align-self: center;
  height: 60%;
}
.avatar {
  position: relative;
  flex-basis: 10%;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 3.5rem;

  & .avatarIcon {
    cursor: pointer;
    font-size: 3rem;
    transition: 0.2s;

    &:hover {
      color: $color-blue;
    }
  }
}
.active {
  color: $color-blue;
}
