@import "../../styles/config.scss";

.searchContainer {
  display: flex;
  flex-basis: 40%;
  height: 100%;
  align-self: center;
}
.test {
  position: relative;
  width: 100%;
  height: 50%;
  align-self: center;
  @include respond(tab-port) {
    display: none;
  }
}
.svg {
  position: absolute;
  right: 10px;
  height: 100%;
  font-size: 2rem;
  z-index: 120;
  color: grey;
}
.searchbar {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 26px;
  border: 2px solid grey;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  &:focus {
    outline: none;
    border: 2px solid $color-blue;
  }
}
.testList {
  position: absolute;
  top: 7.5vh;
  width: 100%;
  background-color: red;
}

.searchIcon {
  flex-basis: 100%;
  font-size: 3rem;
  line-height: 0;
  display: none;

  @include respond(tab-port) {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
