@import "../../styles/config.scss";

.forgot {
  & h2 {
    color: $color-blue;
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
  }
  & p {
    text-align: center;
    color: $color-blue-light;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  & div {
    width: 50%;
    margin: 0 auto;

    & img {
      display: block;
      margin: 0 auto;
      height: 40vh;
    }
  }
  & .field {
    display: block;
    margin: 0 auto;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 32px;
    border: 1px solid grey;
    font-size: 1.5rem;
    padding-left: 25px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}
