@import "../../styles/config.scss";

.container {
  display: flex;
  position: relative;
  min-height: 100px;
  text-decoration: none;
  transition: 0.2s;

  & .threadInfo {
    padding-left: 2rem;
    width: 60%;
    text-decoration: none;

    &:visited,
    &:active,
    &:focus,
    &:link {
      color: black;
    }
    &:hover {
      color: $color-blue;
    }
  }
  & .additional {
    width: 40%;
    align-self: center;
    font-size: 1.1rem;
    text-decoration: none;

    &:visited,
    &:active,
    &:focus,
    &:link {
      color: black;
    }
    &:hover {
      color: $color-blue;
    }

    & .additionalDesc {
      display: flex;
      & h3 {
        width: 25%;
        padding-bottom: 1rem;
      }
      & .lastH3 {
        width: 50%;
      }
    }
    & .additionalStat {
      display: flex;
      & h3 {
        width: 25%;
        font-weight: normal;
      }
      & .lastH3 {
        width: 50%;
      }
    }
  }

  & h2 {
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  & p {
    padding-left: 5%;
    font-size: 1.2rem;
  }
}
.line {
  position: absolute;
  bottom: -1%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: grey;
}
